http://api.libtomsoftware.com {

    @health path /health
    handle @health {
        reverse_proxy lbt-authentication-service:3000
    }

    handle_path /authentication-service/* {
        reverse_proxy lbt-authentication-service:3000
    }
    
    handle_path /authorization-service/* {
        reverse_proxy lbt-authorization-service:3000
    }

    # Fallback
    handle {
        respond "Not Found" 404
    }
}
